<mat-toolbar color="primary">
  <h1>{{ title }}</h1>
</mat-toolbar>

<mat-card class="example-card">Dispositivo: {{sonoffName}}. Fecha y hora en el dispositivo: {{ c1fechaSensor }}
  {{ c1horaSensor }}
</mat-card>

<div class="cardList" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
  <mat-card class="cardListItem" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <h2>
      Relé 1:
      <mat-slide-toggle (change)="onChange($event)" class="example-margin" [checked]="c1PowerL">
        {{ c1PowerR }}
      </mat-slide-toggle>
    </h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Segmento 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p> Hora de encendido: {{c1timer01}} {{c1T1ArmedRLabel}}</p>
        <p> Hora de apagado: {{c1timer02}} {{c1T2ArmedRLabel}}</p>
        <p> Días de la semana: {{c1daysLabel}} </p>
        <section class="checkbox-section">
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayD"> Domingo </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayL"> Lunes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayM"> Martes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayX"> Miercoles </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayJ"> Jueves </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayV"> Viernes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayS"> Sabado </mat-checkbox>
        </section>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c1T1Armed"></mat-checkbox>
            <ngx-timepicker-field #hora01 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
        <p> - </p>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c1T2Armed"></mat-checkbox>
            <ngx-timepicker-field #hora02 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Segmento 2
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p> Hora de encendido: {{c1timer09}} {{c1T9ArmedRLabel}}</p>
        <p> Hora de apagado: {{c1timer10}} {{c1T10ArmedRLabel}}</p>
        <p> Días de la semana: {{c1daysLabel2}} </p>
        <section class="checkbox-section">
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayD2"> Domingo </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayL2"> Lunes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayM2"> Martes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayX2"> Miercoles </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayJ2"> Jueves </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayV2"> Viernes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c1DayS2"> Sabado </mat-checkbox>
        </section>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c1T9Armed"></mat-checkbox>
            <ngx-timepicker-field #hora09 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
        <p> - </p>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c1T10Armed"></mat-checkbox>
            <ngx-timepicker-field #hora10 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="center-div">
      <button mat-raised-button color="primary" (click)="handleProgramar($event)">Programar</button>
    </div>
  </mat-card>

  <mat-card class="cardListItem" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
    <h2>Relé 2:
      <mat-slide-toggle (change)="onChange2($event)" class="example-margin" [checked]="c2PowerL">
        {{ c2PowerR }}
      </mat-slide-toggle>
    </h2>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Segmento 1
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p> Hora de encendido: {{c2timer03}} {{c2T3ArmedRLabel}}</p>
        <p> Hora de apagado: {{c2timer04}} {{c2T4ArmedRLabel}}</p>
        <p> Días de la semana: {{c2daysLabel}} </p>
        <section class="checkbox-section">
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayD"> Domingo </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayL"> Lunes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayM"> Martes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayX"> Miercoles </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayJ"> Jueves </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayV"> Viernes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayS"> Sabado </mat-checkbox>
        </section>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c2T3Armed"></mat-checkbox>
            <ngx-timepicker-field #hora03 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
        <p> - </p>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c2T4Armed"></mat-checkbox>
            <ngx-timepicker-field #hora04 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Segmento 2
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p> Hora de encendido: {{c2timer11}} {{c2T11ArmedRLabel}}</p>
        <p> Hora de apagado: {{c2timer12}} {{c2T12ArmedRLabel}}</p>
        <p> Días de la semana: {{c2daysLabel2}} </p>
        <section class="checkbox-section">
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayD2"> Domingo </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayL2"> Lunes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayM2"> Martes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayX2"> Miercoles </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayJ2"> Jueves </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayV2"> Viernes </mat-checkbox>
          <mat-checkbox class="example-margin" [(ngModel)]="c2DayS2"> Sabado </mat-checkbox>
        </section>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c2T11Armed"></mat-checkbox>
            <ngx-timepicker-field #hora11 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
        <p> - </p>
        <section class="example-section">
          <div class="ngx-timepicker-field-example">
            Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c2T12Armed"></mat-checkbox>
            <ngx-timepicker-field #hora12 [format]="24"></ngx-timepicker-field>
          </div>
        </section>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="center-div">
      <button mat-raised-button color="primary" (click)="handleProgramar($event)">Programar</button>
    </div>
  </mat-card>
</div>

<div class="cardList" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <mat-card class="cardListItem" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <h2>
        Relé 3:
        <mat-slide-toggle (change)="onChange3($event)" class="example-margin" [checked]="c3PowerL">
          {{ c3PowerR }}
        </mat-slide-toggle>
      </h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Segmento 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p> Hora de encendido: {{c3timer05}} {{c3T5ArmedRLabel}}</p>
          <p> Hora de apagado: {{c3timer06}} {{c3T6ArmedRLabel}}</p>
          <p> Días de la semana: {{c3daysLabel}} </p>
          <section class="checkbox-section">
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayD"> Domingo </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayL"> Lunes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayM"> Martes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayX"> Miercoles </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayJ"> Jueves </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayV"> Viernes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayS"> Sabado </mat-checkbox>
          </section>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c3T5Armed"></mat-checkbox>
              <ngx-timepicker-field #hora05 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
          <p> - </p>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c3T6Armed"></mat-checkbox>
              <ngx-timepicker-field #hora06 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Segmento 2
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p> Hora de encendido: {{c3timer13}} {{c3T13ArmedRLabel}}</p>
          <p> Hora de apagado: {{c3timer14}} {{c3T14ArmedRLabel}}</p>
          <p> Días de la semana: {{c3daysLabel2}} </p>
          <section class="checkbox-section">
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayD2"> Domingo </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayL2"> Lunes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayM2"> Martes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayX2"> Miercoles </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayJ2"> Jueves </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayV2"> Viernes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c3DayS2"> Sabado </mat-checkbox>
          </section>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c3T13Armed"></mat-checkbox>
              <ngx-timepicker-field #hora13 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
          <p> - </p>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c3T14Armed"></mat-checkbox>
              <ngx-timepicker-field #hora14 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="center-div">
        <button mat-raised-button color="primary" (click)="handleProgramar($event)">Programar</button>
      </div>
    </mat-card>
  
    <mat-card class="cardListItem" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
      <h2>Relé 4:
        <mat-slide-toggle (change)="onChange4($event)" class="example-margin" [checked]="c4PowerL">
          {{ c4PowerR }}
        </mat-slide-toggle>
      </h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Segmento 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p> Hora de encendido: {{c4timer07}} {{c4T7ArmedRLabel}}</p>
          <p> Hora de apagado: {{c4timer08}} {{c4T8ArmedRLabel}}</p>
          <p> Días de la semana: {{c4daysLabel}} </p>
          <section class="checkbox-section">
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayD"> Domingo </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayL"> Lunes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayM"> Martes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayX"> Miercoles </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayJ"> Jueves </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayV"> Viernes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayS"> Sabado </mat-checkbox>
          </section>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c4T7Armed"></mat-checkbox>
              <ngx-timepicker-field #hora07 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
          <p> - </p>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c4T8Armed"></mat-checkbox>
              <ngx-timepicker-field #hora08 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Segmento 2
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p> Hora de encendido: {{c4timer15}} {{c4T15ArmedRLabel}}</p>
          <p> Hora de apagado: {{c4timer16}} {{c4T16ArmedRLabel}}</p>
          <p> Días de la semana: {{c4daysLabel2}} </p>
          <section class="checkbox-section">
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayD2"> Domingo </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayL2"> Lunes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayM2"> Martes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayX2"> Miercoles </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayJ2"> Jueves </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayV2"> Viernes </mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="c4DayS2"> Sabado </mat-checkbox>
          </section>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de encendido: <mat-checkbox class="example-margin" [(ngModel)]="c4T15Armed"></mat-checkbox>
              <ngx-timepicker-field #hora15 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
          <p> - </p>
          <section class="example-section">
            <div class="ngx-timepicker-field-example">
              Hora de apagado: <mat-checkbox class="example-margin" [(ngModel)]="c4T16Armed"></mat-checkbox>
              <ngx-timepicker-field #hora16 [format]="24"></ngx-timepicker-field>
            </div>
          </section>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="center-div">
        <button mat-raised-button color="primary" (click)="handleProgramar($event)">Programar</button>
      </div>
    </mat-card>
  </div>


<router-outlet></router-outlet>