.example-h2 {
  margin: 10px;
}
  
.center-div{
  padding: 10px;
  text-align: center;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: auto;
  margin: 10px;
}
 
.example-card {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 10px;
}

.checkbox-section {
  margin: 30px;
}
  
.example-margin {
  margin: 0 10px;
}
  
p{
  margin: 10px;
}

:host {
  display: block;
  padding: 20px;
  border-radius: 8px;
  background-color: mintcream ; 
}

ex{
  border: 1px solid black;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;

}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(50 - 32px);
}

/* small size viewport */
@media screen and (max-width: 599px) {
  .cardList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cardList > *:not(:last-child) {
    margin-right: unset;
    margin-bottom: 32px;
  }
}